<div fxLayout="column" fxLayoutGap="32px">
  <app-project-tile
    name="Imaginate"
    repositoryLink="https://github.com/imaginate-ai"
    demoLink="https://playimaginate.com/?source=zach"
    [logo]="imaginateLogo"
    body="A daily game that teaches users to identify AI generated content"
    [skills]="[
      'Python',
      'Typescript',
      'Flask',
      'React',
      'MongoDB',
      'Google Cloud',
      'Serverless',
    ]"
  />
  <ng-template #imaginateLogo>
    <img
      class="rounded-xl mat-elevation-z4 icon"
      src="/assets/imaginate/logo.png"
    />
  </ng-template>
  <app-project-tile
    name="IOT Solar Tracker"
    repositoryLink="https://github.com/zachale/solar-tracker"
    [logo]="solarTrackerLogo"
    body="An internet connected solar tracker that communicates sensor data with an online dashboard"
    [skills]="[
      'C++',
      'React',
      'Express',
      'Google Cloud',
      'Electronic Engineering',
    ]"
  />
  <ng-template #solarTrackerLogo>
    <img
      class="rounded-xl mat-elevation-z4 icon w-12"
      src="/assets/solar-tracker/logo.png"
    />
  </ng-template>
  <app-project-tile
    name="Neural Network"
    repositoryLink="https://github.com/zachale/neural-network-from-scratch"
    [logo]="neuralLogo"
    body="An efficient machine learning algorithm built from independent research
    "
    [skills]="[
      'Python',
      'Numpy',
      'Algorithms',
      'Gradient Descent',
      'Machine Learning',
    ]"
  />
  <ng-template #neuralLogo
    ><img class="icon rounded-xl" src="/assets/neural-network/learning.gif"
  /></ng-template>
  <app-project-tile
    name="Generative Code Editor | WIP"
    repositoryLink="https://github.com/zachale/generative-visual-code-demo/"
    [logo]="generativeCodeLogo"
    body="LLM powered visual coding tool that generates code on command"
    [skills]="['Deno', 'Ollama', 'Prompt Engineering', 'LLM Integration']"
  />
  <ng-template #generativeCodeLogo>
    <div
      class="icon mat-elevation-z4 rounded-xl border-2 border-slate-800"
      fxLayoutAlign="center center"
    >
      <div class="text-3xl">⚡</div>
    </div>
  </ng-template>
  <app-project-tile
    name="Pixy"
    repositoryLink="https://github.com/zachale/pixy"
    [logo]="pixyLogo"
    body="A cloud based photo storage application, complete with user
    authentication"
    [skills]="['MongoDB', 'Express', 'Angular', 'NodeJS', 'Json Web Tokens']"
  />
  <ng-template #pixyLogo
    ><div
      class="icon mat-elevation-z4 rounded-xl border-2 border-blue-400"
      fxLayoutAlign="center center"
    >
      <span
        nz-icon
        class="text-3xl"
        nzType="camera"
        nzTheme="twotone"
      ></span></div
  ></ng-template>
</div>
