:root{
    --main-color: #ebebeb;
    --accent-color: #ffffff;
}

body {
    background-image:url("/tech-resume/bg.jpg"); 
    backdrop-filter: saturate(200%) blur(3px);
    color: rgba(0, 0, 0, 0.75); 
    
}

.jumbotron {
    max-width: 1200px;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: var(--accent-color);
    margin-top:50px;
}

.img-thumbnail {
    border-radius: 1rem;
    width:300px;
}

img {
    max-height:300px;
}
#iphone {
    width:auto;
}
.page-header h1 {
    font-style:italic;
    font-weight:bolder;
    font-size:40;
}

h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

p {
    margin-left: 1rem;
    font-size: 2rem;
}

.item{
    margin-right: 0;
    width: 110%;
    max-width: 1200px;
    margin-right: 0 !important;
    color:rgba(0, 0, 0, 0.75);  ;
    margin-top:50px;
    transition: background-color 0.3s ease-in-out;
}

.center-block {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.figure-img {
    height:300px;
    width:auto;
}

iframe {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.navbar {
    color: black;
    position: sticky;
    border: 2px solid black;
    border-top: 0px;
    align-content: center;
    background-color: var(--accent-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.profile-img {
    padding: 5px;
    border-radius: 1rem;
    margin-right: 1rem;
    height: 50px;
    transition: height 0.1s ease-in-out;
}

.profile-img:hover{
    cursor: pointer;
    height: 60px;
}

button{
    border-radius: 1rem !important;
}


/* about me */
.contact-form {
    padding: 30px;
    margin-top: 30px;
    background-color: white;
    border: 2px black solid;
    border-radius: 1rem;
}
#contact-me {
    margin-bottom: 0;
}
input{
    border-color: rgba(0, 0, 0, 0.149);
    margin-top: 30px;
    border-radius: .5rem;
}
#message-box{
    height: 100px;
    border-color: rgba(0, 0, 0, 0.149);
    margin-top: 30px;
    border-radius: .5rem;
}