<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxLayoutAlign="start end"
    fxLayout="row"
    class="w-full"
    fxLayoutGap="16px"
  >
    <img
      class="max-h-16"
      style="border-radius: 64px"
      src="/assets/personal/pfp.jpg"
    />
    <div class="glass-chat text-body p-4">
      Thanks for stopping by! I'm a computer science student driven by impactful
      product and incredible people. I also happen to love going on bike rides
      on local trails and ant keeping 🚲🐜
    </div>
  </div>
  <div class="w-full h-full" fxLayout="row" fxLayoutAlign="end end">
    <div
      fxLayoutAlign="center center"
      [style.width]="'168px'"
      [style.height]="'60px'"
    >
      <div class="glass-reply-border">
        <a href="mailto:zachlegesse@gmail.com">
          <div class="glass-reply p-8">
            <div class="text-body text-black">
              Contact me
              <span class="ml-1" nz-icon nzType="mail" nzTheme="outline"></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
