<div class="px-8" fxLayout="column" fxLayoutGap="64px">
  <div
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-md="center center"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    class="w-full glass-card p-8 my-16"
  >
    <div class="p-4" ngStyle.gt-md="max-width: 60%" fxFlexOrder="2">
      <div class="text-title mb-8">About Me</div>
      <div class="text-body">
        I'm a computer science student passionate about building impactful
        products. Scaling my content creation to over 1.5 million views taught
        me the value of users and the power of data. I now apply these insights
        in software engineering, focusing on user-first design and data-driven
        decisions. By applying these rules, I achieved 2 Outstanding reports at
        my previous internship at
        <a class="underline" href="https://www.10kc.com/"
          >Ten Thousand Coffees</a
        >
      </div>
    </div>
    <img
      fxFlexOrder.gt-md="3"
      fxFlexOrder.lt-md="1"
      class="rounded-full"
      style="max-width: 40vw"
      src="/assets/personal/pfp.jpg"
    />
  </div>
  <div
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="64px"
  >
    <div class="glass-card w-full">
      <div class="text-title">My Mindset</div>
      <div class="p-8">
        <div class="text-body">- Success requires failure 🚀</div>
        <div class="text-body">- Anyone can change the world 🌍</div>
      </div>
    </div>
    <div class="glass-card w-full">
      <div class="text-title">My Motivators</div>
      <div class="p-8">
        <div class="text-body">- Building impactful product 🔨👷🏻</div>
        <div class="text-body">- Collaborating with devoted teams 💻</div>
      </div>
    </div>
  </div>
</div>
