<div fxLayout="column" fxLayoutAlign="center center">
  <div class="w-10/12">
    <div class="glass-card mt-8 p-16">
      <div fxLayoutAlign="space-between center" class="mb-8">
        <div class="text-title">Summer 2024 &#64; 10KC</div>
        <a href="https://tenthousandcoffees.com" target="_blank">
          <img src="/assets/10kc/10kclogo.png" width="50px" alt="10kclogo" />
        </a>
      </div>
      <nz-divider />
      <div class="text-body mx-4">
        &emsp; I spent my first work term as a software engineering intern at
        10KC Technologies. While working with 10KC, I was an independent
        contributor as part of their engineering team, developing full-stack
        solutions to resolve client feedback, meet new feature requests, and fix
        critical bugs.
      </div>
      <div class="text-body m-4">
        &emsp; 10KC builds a SAAS web application that focuses on democratizing
        opportunity and empowering social learning within organizations. Their
        customers include the likes of RBC, BMO, and Thomas Reuters. Their
        application has proven results in increasing equity within organizations
        and facilitating learning amongst peers and mentors through 10KC’s
        various solutions.
      </div>
      <div fxLayoutAlign="center center">
        <img
          class="rounded-xl m-8"
          src="/assets/10kc/patiophoto.JPG"
          alt="some of the 10KC team on a rooftop patio, including Zach"
        />
      </div>
      <div class="text-body m-4">
        I was contributing to 10KC's web application for the duration of my
        internship. As a software engineering intern, I was tasked with building
        and maintaining full-stack features based on specifications and fixing
        critical bugs. These specifications could arise from direct customer or
        user feedback, from a UI/UX designer, or a myriad of other stakeholders.
        To build these features I utilized the MEAN stack which includes
        technologies like Typescript, Angular, Express.Js, Node and MongoDB.
        Jest was also used to build robust unit tests for all new functionality
        I developed. I also got exposure to non-code technologies as well. I
        built a handful of data funnels, allowing me to measure the usability
        and effectiveness of my Features. I also helped localize the
        application, using internal tools to build out features in 5 different
        languages. Overall, I built robust, impactful features and solutions
        that accrued thousands of user impressions, and fulfilled
        specifications.
      </div>
      <div class="text-body mx-4">
        My experience at 10KC was certainly unforgettable. The technical and
        professional skills I learned have opened up new opportunities for me
        and have introduced me to the industry of software engineering. I look
        forward to applying these skills moving forward and continuing to grow
        as a developer.
      </div>
      <div fxLayoutAlign="center center">
        <img
          class="rounded-xl m-8"
          src="/assets/10kc/barrysphoto.JPG"
          alt="some of the 10KC team after completing a work out class together, including Zach"
        />
      </div>
    </div>
    <div class="glass-card mt-8 p-16">
      <div class="text-title mb-8">Goals</div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Cross-team collaboration</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            Improving my cross-team collaboration was a very important goal for
            me this work term. I had never experienced working in a dynamic
            environment with people of different talents, so diving in and
            embracing this environment was key. I achieved this goal by
            consistently working with product, engineering, and customer-facing
            teams to collaborate, design, and deploy large projects. This has
            strengthened my ability to collaborate and has allowed me to share
            my opinion in a room of different talents and experiences.
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Engineering and problem solving</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            Because this was my first Co-op experience, I knew it would be
            critical for me to focus on building strong fundamentals in
            problem-solving, and engineering. One way I achieved this goal was
            by reviewing a large amount of code. I participated in a number of
            large and small code reviews, on varying parts of the 10KC stack,
            exposing myself to new web development techniques, nuances, and
            solutions. I was also given the privilege to take part in 2 solution
            development sessions where I contributed my ideas and brainstormed
            with coworkers. Solving problems collaboratively in this way opened
            me up to unique viewpoints I would have never considered otherwise.
            Seeking out and participating in these reviews and events boosted my
            skillset immensely, solidifying my skills in problem-solving and
            engineering.
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Software development</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            Over this first work term, I also wanted to focus on building my
            general software development skills. I accomplished this goal much
            more than I anticipated. I achieved 300+ GitHub contributions and
            30+ closed tickets. On top of this, I got to apply myself in so many
            different technical scenarios. I was able to hotfix 4 critical bugs
            that had reached production which directly stabilized the product. I
            also got to handle driving a handful of full releases, leading them
            from testing to production. Additionally, I built and took ownership
            of 2 full larger scale features as well as several smaller fixes and
            features. In general, I was consistently placed in a position of
            ownership and development work.
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="glass-card mt-8 p-16">
      <div class="text-title mb-8">Acknowledgements</div>
      <div class="text-body">
        <div class="m-4">
          Cache Angus, a Software engineer and my supervisor for the work term.
          Cache was always there for support, and always pushed me to be my
          best.
        </div>
        <div class="m-4">
          Aaron, the VP of product design, always facilitated my learning
          whenever he could.
        </div>
        <div class="m-4">
          Elliott Garcea, CTO. Without Elliott’s generosity, I may not have had
          this great experience.
        </div>
      </div>
    </div>
  </div>
</div>
