<div fxLayout="column" fxLayoutGap="32px">
  <app-work-tile
    name="RBC"
    position="GenAI Engineer Intern"
    dateRange="JAN-APR 2026"
    [logo]="rbcLogo"
    body="Building AI agents to automate 80% of manual auditing flows"
    [skills]="['Python', 'LangChain', 'RAG', 'Agentic Systems']"
    link="https://www.rbc.com"
  />
  <ng-template #rbcLogo>
    <img class="icon rounded-xl" src="/assets/rbc/rbc-logo.jpeg" />
  </ng-template>
  <app-work-tile
    name="ApplyBoard"
    position="Software Engineer Intern"
    dateRange="MAY-AUG 2025"
    [logo]="applyBoardLogo"
    body="Developed backend solutions, replace legacy integration system using AWS"
    [skills]="['Typescript', 'Node.js', 'AWS CDK', 'Serverless']"
    link="https://www.applyboard.com"
  />
  <ng-template #applyBoardLogo>
    <img class="icon rounded-xl" src="/assets/applyboard/applyboard.jpg" />
  </ng-template>
  <app-work-tile
    name="Ten Thousand Coffees"
    position="Software Engineer Intern"
    dateRange="JAN-DEC 2024"
    [logo]="tenThousandCoffeesLogo"
    body="Worked within a cross-functional team to deliver full-stack product features"
    [skills]="['Typescript', 'Express', 'Angular', 'MongoDB']"
    link="https://www.tenthousandcoffees.com"
  />
  <ng-template #tenThousandCoffeesLogo>
    <img class="icon" src="/assets/10kc/10kc_Logo.svg" style="filter: brightness(0) invert(0);" />
  </ng-template>
</div>
