<div fxLayout="column" fxLayoutGap="32px">
  <app-work-tile
    name="ApplyBoard"
    position="Software Engineer Intern"
    [logo]="applyBoardLogo"
    body="Developed backend infrastructure solutions, simplifying complex integration systems using AWS and TypeScript"
    [skills]="['Typescript', 'AWS CDK', 'DynamoDB', 'Lambda', 'S3', 'CloudWatch', 'CloudFormation', 'EventBridge']"
    [quotes]="tenThousandCoffeesQuotes"
    link="https://www.applyboard.com"
  />
  <ng-template #applyBoardLogo>
    <img class="icon rounded-xl" src="/assets/applyboard/applyboard.jpg" />
  </ng-template>
  <app-work-tile
    name="Ten Thousand Coffees"
    position="Software Engineer Intern"
    [logo]="tenThousandCoffeesLogo"
    body="Worked within a cross-functional team to deliver full-stack product features and fixes"
    [skills]="['Typescript', 'Express', 'Angular', 'MongoDB']"
    [quotes]="tenThousandCoffeesQuotes"
    link="https://www.tenthousandcoffees.com"
  />
  <ng-template #tenThousandCoffeesLogo>
    <img class="icon" src="/assets/10kc/10kc_Logo.svg" style="filter: brightness(0) invert(0);" />
  </ng-template>
  <app-work-tile
    name="Content Creation"
    [logo]="contentCreationLogo"
    body="Obsessively crafted an engaging content creation strategy"
    [skills]="['1 million+ views', '350k+ likes', '$5000+ revenue']"
  />
  <ng-template #contentCreationLogo>
    <div fxLayout="row" fxLayoutGap="8px">
      <img class="icon p-2" src="/assets/content-creation/youtube.webp" />
      <img class="icon p-2" src="/assets/content-creation/tiktok.png" />
      <img class="icon p-2" src="/assets/content-creation/twitch.png" />
    </div>
  </ng-template>
</div>
