<div
  fxLayout="row"
  class="glass-nav-bar p-6"
  fxLayoutAlign="space-between center"
>
  <div class="text-gradient text-title text-2xl mr-2">
    {{ innerWidth > 992 ? "Hey, I'm Zach" : "Hey!" }}
  </div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <a
      fxLayoutAlign="center center"
      href="https://github.com/zachale"
      class="nav-link"
      target="_blank"
    >
      <span class="text-2xl" nz-icon nzType="github" nzTheme="outline"></span>
    </a>
    <a
      fxLayout="row"
      fxLayoutAlign="center center"
      class="nav-link"
      href="https://linkedin.com/in/zach-legesse"
      target="_blank"
    >
      <span class="text-2xl" nz-icon nzType="linkedin" nzTheme="fill"></span>
    </a>
    <div class="nav-link bg-black h-full">
      <div class="relative h-full">
        <a href="https://playimaginate.com/?source=zach" target="_blank"
          ><img
            style="max-width: 50px"
            width="100%"
            src="/assets/imaginate/logo.png"
          />
        </a>
        <img
          class="absolute -bottom-2 -right-2 sparkle"
          width="24px"
          src="/assets/imaginate/sparkles.png"
        />
      </div>
    </div>
  </div>
</div>
