<div fxLayout="row" class="glass-card p-6" fxLayoutAlign="space-between center">
  <div class="text-gradient text-title text-2xl" >
    Hey, I'm Zach
  </div>
  <div fxLayout="row" fxLayoutGap="8px">
  <a href="https://github.com/zachale"  mat-raised-button>
    <span class="text-2xl" nz-icon nzType="github" nzTheme="outline"></span>
  </a>
  <a href="https://linkedin.com/in/zach-legesse"  mat-raised-button>
    <span class="text-2xl" nz-icon nzType="linkedin" nzTheme="outline"></span>
  </a>
</div>
</div>