<div
  class="w-full header fade-in-up p-8"
  fxLayout="column"
  fxLayoutAlign="center center"
  style="min-height: 500px"
>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="text-gradient text-header">Hey, I'm Zach</div>
    <div class="text-sub-header">AI + Product Engineer</div>
    <a
      href="https://calendly.com/zachlegesse/30min"
      target="_blank"
      class="glass-reply-border text-body"
      style="font-size: 16px; display: flex; align-items: center; justify-content: center; gap: 8px; text-decoration: none; color: inherit;"
    >
      Call me
      <span nz-icon nzType="phone" nzTheme="outline"></span>
    </a>
  </div>
</div>
