<div
  class="w-full header fade-in-up p-8"
  fxLayout="column"
  fxLayoutAlign="center center"
  style="min-height: 500px"
>
  <div class="text-center">
    <div><div class="text-gradient text-header">Hey, I'm Zach</div>
    <div class="text-sub-header mb-4">Product + software fanatic</div>
    <button
      class="glass-reply-border mt-4 text-body"
        (click)="downloadResume()"
        style="font-size: 16px;"
      >
        Resume
        <span nz-icon nzType="download" nzTheme="outline" class="ml-2"></span>
      </button>
    </div>
  </div>
</div>
