.right-column {
  flex-shrink: 0;
  min-width: 100px;
  max-width: 120px;
}

.logo-container {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
}

.text-date {
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

