<div 
  class="glass-card project p-4 fade-in-up"
  [class.cursor-pointer]="link"
  (click)="onTileClick()"
  [style.cursor]="link ? 'pointer' : 'default'"
>
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
    <div fxFlex fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="start start" class="items-center mb-1">
        <div class="text-title">
          {{ name }}
          </div>
        <div class="text-role">
          {{ position }}
        </div>
      </div>
      <div class="text-body mb-3 text-left">
        {{ body }}
      </div>
      <app-skill-bar [skills]="skills" />
    </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="right-column">
        @if (logo) {
          <div class="logo-container">
            <ng-container *ngTemplateOutlet="logo"></ng-container>
          </div>
        }
        @if (dateRange) {
          <div class="text-date">{{ dateRange }}</div>
        }
    </div>
  </div>
</div>
