<div fxLayout="column" fxLayoutAlign="center center">
  <div class="w-10/12">
    <div class="glass-card mt-8 p-16">
      <div fxLayoutAlign="space-between center" class="mb-8">
        <div class="text-title">Summer 2025 &#64; ApplyBoard</div>
        <a href="https://applyboard.com" target="_blank">
          <img class="rounded-xl" src="/assets/applyboard/applyboard.jpg" width="50px" alt="applyboard-logo" />
        </a>
      </div>
      <nz-divider />
      <div class="text-body mx-4">
        &emsp; I spent my third work term as a software engineering intern at
        ApplyBoard. This was an exciting opportunity to work with a new company
        and work in an office for the first time in the industry. I developed backend and DevOps solutions.
      </div>
      <div class="text-body m-4">
        &emsp; ApplyBoard builds a platform that simplifies the study abroad search, 
        application, and acceptance process by connecting international students, 
        recruitment partners, and academic institutions on one platform. Their
        customers include students from around the world and educational institutions. I worked
        with a subsidiary of ApplyBoard called Capio. Capio's primary focus is on helping schools
        manage international student applications.
      </div>
      <div fxLayoutAlign="center center" fxLayout="column">
        <img
          class="rounded-xl mt-4"
          src="/assets/applyboard/capio-team.jpg"
          alt="the ApplyBoard team including Zach"
        />
        <i>The Capio team including Zach</i>
      </div>
      <div class="text-body m-4">
        I contributed to Capio's serverless backend services throughout my internship.
        As a software engineering intern, I was tasked with designing and implementing new services
        and improving existing services based on user stories. The user stories were typically defined
        by the product team, my manager, or my co-interns. To implement these changes and updates,
        I primarily used TypeScript, AWS SDK, and AWS CDK. I delivered robust, impactful services and updates
        that handled thousands of requests and interacted with thousands of AWS Lambda functions.
      </div>
      <div class="text-body m-4">
        One of the key projects I worked on during my third term was modernizing a legacy export service. The
        legacy service was not scalable, had high maintenance costs, and was a bespoke solution for a single client.
        My team and I were tasked with replacing this system with a more scalable and maintainable solution. I was given the opportunity to contribute to the effort from system design through implementation. It was a 
        valuable learning experience to work in a high-agency environment and collaborate with the team to deliver 
        the system to specification. I worked closely with three other interns and regularly sought guidance from senior 
        engineers when needed. During development, our team encountered a challenging decision point where we were 
        unsure about our implementation approach. Through team discussion and collaboration, I was able to find a 
        solution that worked well for everyone involved. This experience helped me develop my leadership and 
        collaboration skills, which were noted positively in my work term evaluation. When all was said and done,
        I delivered a system that replaced the legacy service and saved ApplyBoard thousands of dollars in 
        annual cloud costs.
      </div>
      <div class="text-body mx-4">
        My summer term at ApplyBoard was another incredible experience. The
        technical and professional skills I developed will prove invaluable as I
        continue my career in software engineering. I look forward to what the
        future has in store, and I am excited to apply my new skills in my next
        co-op term.
      </div>
      <div fxLayoutAlign="center center" fxLayout="column">
        <img
          class="rounded-xl mt-8"
          style="max-height: 70vh"
          src="/assets/applyboard/capio-interns.jpeg"
          alt="Zach with fellow interns at ApplyBoard"
        />
        <p>
          <i
            >Zach with fellow interns at ApplyBoard</i
          >
        </p>
      </div>
    </div>
    <div class="glass-card mt-8 p-16">
      <div class="text-title mb-8">Learning Goals</div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Leadership</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            I have always found myself leaning towards leadership roles in team settings,
            and this term I wanted to make a direct effort to improve these skills. Working
            on a team with three other interns presented an opportunity to develop these abilities
            while collaborating on group deliverables. Early in my term, a technical leader
            encouraged me to stay vocal and continue leading by example. The challenge was
            learning to balance taking initiative with fostering team collaboration. When our team reached a point of decision paralysis in our
            implementation approach, I helped us move forward by making decisions,
            prioritizing tasks, and delegating responsibilities. I also
            served as Scrum Master for four weeks and facilitated four retrospectives, which
            developed my facilitation skills. This experience, along with positive feedback
            in my work term evaluation from my manager, has helped me grow my leadership skills immensely.
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Planning and Organization</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            A piece of feedback I received from my previous term was that I needed to focus on improving my time management and planning skills.
            This was a major focus of my third term, and actually it became a major challenge as well. Being on an intern only team and working 
            fully autonomously made it difficult to be able to accurately create estimates for my work. Without direct supervision, I was at the 
            mercy of any unknown issues that could arise in the codebases that I had never seen. There were many moments when me or my team became 
            blocked because of unforeseen issues within unfamiliar codebases that we were working in. While I completed more than 15 tickets meeting 
            acceptance criteria and quality expectations, there were times where I was unable to hit my deadlines due. 
            However, I did receive overwhelmingly positive feedback from senior engineers, including recognition of my AWS knowledge and work ethic, 
            demonstrating that I delivered high-quality features. While this was challenging, it led to me further developing my planning skills 
            as a whole. Creating accurate timeline estimates and executing on them will continue to be a focus for me as I progress in my career.
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Problem Solving</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            System design became a primary arena for sharpening my problem solving this term. I took leadership of designing and implementing a 
            stateless service for client data export, led four architectural discussions, and produced infrastructure diagrams and comprehensive 
            documentation. This work provided hands-on system design experience and showed that I can contribute meaningfully to medium-scale 
            architecture within my work stream. Before this term, I had never had the oppourtunity to work with AWS, or design a fully cloud based
            solution. This experience has given me the confidence to tackle more complex technical problems and has helped me grow as a software engineer.
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="glass-card mt-8 p-16">
      <div class="text-title mb-8">Acknowledgements</div>
      <div class="text-body">
        <div class="m-4">
          Conrad Chan, Engineering Manager. Conrad was my supervisor for the work term, and balanced technical support, mentorship, and mangament elegantly. He was always there for support, and went out of his way to push me to grow as an engineer.
        </div>
        <div class="m-4">
          Mohammad Hamrah, Software Engineer 6. Mohammad worked on a completely seperate team then I, but he consistently prioritized supporting me and my learning. His ability to distill complex concepts into 30 second conversations has expidited my understanding of software development.
        </div>
        <div class="m-4">
          Andrew Hamelin, Software Engineer 5. Andrew was instrumental to my onboarding and foundations at ApplyBoard. He guided me through designing my first solution, and was there for support every step of the way.
        </div>
      </div>
    </div>
  </div>
</div>
