@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #ffabf3;
$accent: #1a1616;
$accent-hover: #000000;

$pastel-violet: #9695ff;
$pastel-pink: #fe97ff;
$pastel-pink-hover: #fecdff;

$button-background: #14080e;

$background: #f4f5ff;
$dots: #4c4e72;

html,
body {
  height: 100%;
  background-color: $background;
  scroll-behavior: smooth;
}

.background-accent {
  background-color: $accent;
}

.text-accent {
  color: $accent;
}

.text-primary {
  color: $primary;
}

.text-gradient {
  background: linear-gradient(to right, $pastel-pink, $pastel-violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-texture {
  background: rgba(255, 255, 255, 0.712);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-card {
  @extend .glass-texture;
  @include mat.elevation(4);
  @apply rounded-xl;
  padding: 16px;
  transition: all ease-in-out 0.2s;
}

.glass-card:hover {
  @include mat.elevation(6);
}

.glass-nav-bar {
  @extend .glass-card;
  @include mat.elevation(8);
}

.true-sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

.glass-chat {
  @extend .glass-texture;
  @apply rounded-3xl;
  @apply rounded-bl-md;
  @apply mb-4 mr-4;
  @include mat.elevation(4);
  max-width: 800px;
  width: 100%;
}

.glass-reply {
  @extend .glass-texture;
  @apply rounded-3xl;
  @apply rounded-br-sm;
  @apply p-4;
  @include mat.elevation(4);
  background: rgba(255, 255, 255, 0.779);
}

.glass-reply-border {
  @extend .special-button;
  @apply rounded-br-md;
  @include mat.elevation(4);
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
  border-radius: 25px 25px 6px 25px;
}

.glass-reply-border:hover {
  cursor: pointer;
  @include mat.elevation(6);
  @apply scale-105;
  padding: 2px;
}

.text-body {
  @apply font-medium;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.text-role {
  @apply font-medium;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.text-date {
  @apply font-semibold;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #666;
}

.text-title {
  @apply font-bold;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.header {
  width: 100%;
  height: 60svh;
}

.text-header {
  @extend .text-title;
  font-size: 56px;
}

.text-sub-header {
  @extend .text-body;
  @apply font-medium;
  font-size: 24px;
}

.nav-link {
  width: 48px;
  height: 48px;
  color: black;
  transition: all ease-in-out 0.2s;
}

.nav-link:hover {
  @apply scale-110;
  color: black;
}

.project {
  max-width: 700px;
  width: 100%;
}

.icon {
  width: 64px;
  height: 64px;
}

.icon-small {
  width: 40px;
  height: 40px;
}

.text-skill {
  @apply font-normal;
  @apply text-xs;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.button {
  @apply rounded-2xl;
  @include mat.elevation(4);
  @apply p-2;
  @extend .glass-texture;
  height: 48px;
  min-width: 144px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  @include mat.elevation(6);
}

.button-inverse {
  @extend .button;
  background-color: $accent;
  color: white;
}

.button-inverse:hover {
  background-color: $accent-hover;
}

.special-button {
  @extend .button;
  background: linear-gradient(
    -45deg,
    #ffe7cc,
    #ffdde7,
    #c6dfff,
    #c4fff1,
    #ffe7cc,
    #ffdde7
  );
  background-size: 600%;
  -webkit-animation: animate 5s linear infinite;
  animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
