@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #ffabf3;
$accent: #1e1a1d;

$pastel-violet: #9695ff;
$pastel-pink: #fe97ff;

$background: #6b679a;
$dots: #4c4e72;

html, body { 
  height: 100%;   
  // background-image: 
  //   radial-gradient($dots 22.8%, transparent 22.8%);
  // background-position: 0px 0px, 0px 100px;
  // background-size: 50px 50px;
  background-color: $background;
}



.background-accent{
  background-color: $accent;
}

.text-accent{
  color:$accent;
}

.text-primary{
  color:$primary
}

.text-gradient{
  background: linear-gradient( to right, $pastel-pink,$pastel-violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.glass-card {
  @include mat.elevation(4);
  @apply rounded-xl;
  background: rgba(255, 255, 255, 0.712); 
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: all ease-in-out 0.4s;
}

.glass-card:hover {
  @include mat.elevation(16);
}

.text-body{
  @apply font-medium;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-title{
  @apply font-bold;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 32px;
  font-style: normal;
}