<div fxLayout="column" fxLayoutAlign="center center">
  <div class="w-10/12">
    <div class="glass-card mt-8 p-16">
      <div fxLayoutAlign="space-between center" class="mb-8">
        <div class="text-title">Fall 2024 &#64; 10KC</div>
        <a href="https://tenthousandcoffees.com" target="_blank">
          <img src="/assets/10kc/10kclogo.png" width="50px" alt="10kclogo" />
        </a>
      </div>
      <nz-divider />
      <div class="text-body mx-4">
        &emsp; I spent my second work term as a software engineering intern at
        10KC Technologies. This was my second term at 10KC and I continued to be
        an independent contributor as part of their engineering team. I
        developed full-stack solutions to resolve client feedback, realize new
        product features, and fix critical bugs.
      </div>
      <div class="text-body m-4">
        &emsp; 10KC builds a SAAS web application that focuses on democratizing
        opportunity and empowering social learning within organizations. Their
        customers include the likes of RBC, BMO, and Thomas Reuters. Their
        application has proven results increasing equity within organizations
        and facilitating learning amongst peers and mentors through 10KC’s
        various solutions.
      </div>
      <div fxLayoutAlign="center center" fxLayout="column">
        <img
          class="rounded-xl mt-4"
          src="/assets/10kc/holiday-party.jpeg"
          alt="some of the 10KC team at a holiday party, including Zach"
        />
        <i>Some of the 10KC team at a holiday party, including Zach</i>
      </div>
      <div class="text-body m-4">
        I was contributing to 10KC's web app for the duration of my internship.
        As a software engineering intern, I was tasked with building and
        maintaining full-stack features based on specifications and fixing
        critical bugs. These specifications could arise from direct customer or
        user feedback, a UI/UX designer, or a myriad of other stakeholders. To
        build these features I utilized the MEAN stack which included
        technologies like Typescript, Angular, Express.Js, Jest, Node and
        MongoDB. I built robust, impactful features and solutions that accrued
        thousands of user impressions and fulfilled specifications.
      </div>
      <div class="text-body m-4">
        The most impactful project I developed in my second term was a critical
        race condition fix within their on-demand translation pipeline. After
        asking questions and understanding the root issue, I discovered that the
        given proposed solution was not scalable and would add unnecessary
        complexity. To mediate this, I advocated for and created a second
        solution that resolved the race condition directly. Because of my vocal
        advocacy, my solution was chosen and eventually proven most effective.
        One requirement for the solution was that functionality had to be
        maintained in highly concurrent and distributed situations. I validated
        this by completing several pair-testing sessions to trigger concurrent
        cloud functions. This project was an incredible learning opportunity and
        taught me the importance of advocating for my ideas. It also resulted in
        an estimated 90% reduction in peak on-demand translation costs.
      </div>
      <div class="text-body mx-4">
        My second term at 10KC was another unforgettable experience. The
        technical and professional skills I developed will prove invaluable as I
        continue my career in software engineering. I look forward to what the
        future has in store, and I am excited to apply my new skills in my next
        co-op term.
      </div>
      <div fxLayoutAlign="center center" fxLayout="column">
        <img
          class="rounded-xl mt-8"
          style="max-height: 70vh"
          src="/assets/10kc/matching-pants.jpeg"
          alt="Zach and his supervisor Cache stand together showcasing matching corduroys"
        />
        <p>
          <i
            >Zach (left) and supervisor Cache (right) showcasing not so matching
            corduroy pants</i
          >
        </p>
      </div>
    </div>
    <div class="glass-card mt-8 p-16">
      <div class="text-title mb-8">Learning Goals</div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Development Planning</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            After completing my first co-op term, I received feedback that I
            needed to work on my planning ability. My first tterm at 10KC was
            the first time my technical planning skills came under stress so
            receiving that criticism was incredibly valuable and allowed me to
            make it a focus of my second term. I achieved this goal by being
            very purposeful with ticket scoping, ensuring that I understood the
            impact of each ticket. As someone who loves to work on the fly, it
            was a challenge to pause and fully map out each ticket before diving
            in. This was an effective strategy, and I feel much more confident
            in my planning ability. By using feedback as fuel, I developed my
            technical planning skills to the next level.
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Testing</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            Another area I wanted to improve my skills in this term was my
            testing ability. After reflecting on my first term, I realized that
            there were a handful of instances where anticipating the true impact
            of a small change was a challenge. For example, I wrote code for a
            small feature that was fully functional but missing a single
            character. Missing that one character caused a critical page to
            crash on production. This incident made it clear to me that I needed
            to have a full understanding of any side effects caused by my
            changes. I aimed to focus on reading testing files before changing
            functionality and ensuring at least a 90% test coverage on all new
            functionality created. I dramatically achieved this goal and wrote
            high-coverage testing for almost every single feature I built in my
            second term. Building such high-coverage testing unearthed a lot of
            challenges that were super fun to solve, independently or as part of
            a pair-debugging session. Even though I made a large mistake, I used
            that as a learning experience and pushed myself to walk away as a
            better developer.
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="text-body">Code Analysis</div>
          </mat-expansion-panel-header>
          <div class="text-body">
            Something I found incredibly difficult was the transition from
            reading and analyzing code at school versus in industry. At school,
            I was given maybe a 20-line C snippet and asked to trace and debug
            it. I understood that working in the industry would require
            analyzing and reviewing more code, but what surprised me was the
            sheer volume and breadth of code. I found it quite challenging to
            digest relatively large pull requests where I lacked all context.
            One strategy I used was to set up a consistent PR review cadence. By
            getting consistent exposure to different code from across the stack,
            I gained more valuable code base context and improved my PR
            digesting skills. Another strategy I had was to set an exact number
            of PR reviews to complete before the end of the term. This gave me a
            target to hit and lit a fire under me to get to work. In reflection,
            this strategy proved ineffective for me. Aiming for only an exact
            quantity of reviews set incorrect incentives and ambiguous
            expectations. In the end, I fell short of the target, but I
            drastically improved my code analysis skills. I feel much more
            confident digesting and analyzing large pull requests and
            understanding context before I dive in.
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="glass-card mt-8 p-16">
      <div class="text-title mb-8">Acknowledgements</div>
      <div class="text-body">
        <div class="m-4">
          Cache Angus, Software engineer. Cache was my supervisor for the work
          term and was always there for support. She constantly pushed me to be
          the best engineer I could, and I owe a lot of my great experience to
          her patience and intelligence.
        </div>
        <div class="m-4">
          Manoj Karthi, Software Engineer. Manoj was receptive of any ideas I
          had, and shared many invaludable problem solving discussions with me.
        </div>
        <div class="m-4">
          Elliott Garcea, 10KC CTO. Elliott was always open to discussing new
          technologies and provided unique perspectives on how to approach
          problems of any kind.
        </div>
      </div>
    </div>
  </div>
</div>
