:root{
    --main-color: #C0C2E5;
    --accent-color: #9B9FD7;
}

body {
    background-color:var(--main-color);
    color: rgba(255,255,255,.75); 
}

.jumbotron {
    max-width: 1200px;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: var(--accent-color);
    margin-top:50px;
}

.img-thumbnail {
    border-radius: 1rem;
    width:300px;
}

img {
    max-height:300px;
}
#iphone {
    width:auto;
}
.page-header h1 {
    font-style:italic;
    font-weight:bolder;
    font-size:40;
}

h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

p {
    margin-left: 1rem;
    font-size: 2rem;
}

.row{
    color:rgba(255,255,255,.75) ;
    margin-top:50px;
    transition: max-width 1s ease-in-out, 1s ease-in-out, padding 1s ease-in-out, height 1s ease-in-out;
}
.row:hover {
    
    max-width: 100vw;
    width: 110%;
    padding-right: 13%;
    cursor: pointer;
    text-decoration:    none;
}

.center-block {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.figure-img {
    height:300px;
    width:auto;
}

iframe {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.navbar {
    position: sticky;
    border: 2px solid black;
    border-top: 0px;
    align-content: center;
    background-color: var(--accent-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.profile-img {
    padding: 5px;
    border-radius: 1rem;
    margin-right: 1rem;
    height: 50px;
    transition: height 0.1s ease-in-out;
}

.profile-img:hover{
    cursor: pointer;
    height: 60px;
}
